<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="AlertifyJS" version="1.5.0" targetFramework="net45" />
  <package id="Apexnet.Agenda.Common" version="2.0.0" targetFramework="net45" />
  <package id="Apexnet.Agenda.Model" version="1.0.1" targetFramework="net45" />
  <package id="Apexnet.Agenda.PhotoUrl" version="1.0.1" targetFramework="net45" />
  <package id="Apexnet.Ajax.Wrapper" version="2.0.0" targetFramework="net45" />
  <package id="Apexnet.Security.Cryptography" version="1.0.0" targetFramework="net45" />
  <package id="AutoMapper" version="3.2.1" targetFramework="net45" />
  <package id="ClosedXML" version="0.75.0" targetFramework="net45" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net45" />
  <package id="DotLiquid" version="1.8.0" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="Elmah.Mvc" version="2.1.2" targetFramework="net45" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net45" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net45" />
  <package id="HtmlBuilders" version="2.0.5" targetFramework="net45" />
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="materialize" version="0.96.1" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.1.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.8.3" targetFramework="net45" />
  <package id="Moment.js" version="2.10.6" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net45" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net45" />
  <package id="qTip2" version="2.2.1" targetFramework="net45" />
  <package id="RazorGenerator.Mvc" version="2.2.1" targetFramework="net45" />
  <package id="SD.Tools.OrmProfiler.Interceptor.NET45" version="1.5.14.0" targetFramework="net45" />
  <package id="Select2.js" version="4.0.0" targetFramework="net45" />
  <package id="Serialize.Linq" version="1.1.4" targetFramework="net45" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net45" developmentDependency="true" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net45" />
</packages>