@{
    ViewBag.Title = "Test DevExpress";
}

<h2>Test DevExpress</h2>

<h3>Navbar</h3>

@Html.DevExpress().NavBar(settings =>
    {
        settings.Name = "testNavBar";
        settings.Groups.Add("Group1").Items.Add("Item1-1");
        settings.Groups.Add("Group2").Items.Add("Item2-1");
        settings.Groups.FindByText("Group2").Expanded = false;
    }).GetHtml()

<div style="margin: 100px;">
    <h3>Grid view</h3>

    @Html.Action("Show", "TestGridView")
</div>

<div style="margin: 100px;">
    <h3>Uploader</h3>

    @Html.Action(
        "FileUploader",
        "TestUpload",
        new
        {
            controlName = "dxFileUploader",
            identifierName = "file"
        })
</div>
