<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>@ViewBag.Title</title>

        <!--   Common Stylesheets   -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="~/Content/materialize/css/materialize.min.css" rel="stylesheet" />
        <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
        <link href="~/Styles/main.css" rel="stylesheet" />
    
        <!-- Common Scripts -->
        <script src="~/Scripts/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="~/Scripts/alertify.min.js"></script>
        <script type="text/javascript" src="~/Scripts/select2.min.js"></script>
        <script type="text/javascript" src="~/Scripts/ajax-wrapper.js"></script>
        <script type="text/javascript" src="~/Scripts/materialize/materialize.min.js"></script>

        <script type="text/javascript">
            var BASE_PATH = '@Url.Content("~")';
            $(document).ready(function() {
                //NB: va fatto il reset iniziale per i default
                alertify.reset();

                $(".button-collapse").sideNav();
            });
        </script>

        @RenderSection("Scripts", false)
        
    </head>
    <body class="antialiased body-container">
        @{
            Html.RenderPartial("_TopBar");
        }

        @RenderBody()
        
    </body>
</html>
